*{
  padding: 0;
  margin: 0;
}
body {
	width: 100%;
	height: 100%;
	background-color: #e0e0e0;
}
header {
	width: 100%;
	background-color: rgb(97, 216, 159);
	color:rgb(0, 178, 92);
	display: inline-block;
}
.links {
	float: right;
}

.container {
	width: 80%;
	margin: 0 auto;
	background-color: white;
}
.logo {
	width: 5%;
}
h1 {
	color: rgb(33, 133, 85);
}
table {
	border-style: solid;
	border-radius: 1px;
}
#tablename {
	color: rgb(97, 216, 159);
}

#total {
	color:rgb(0, 115, 60);
}


.icons {
	width: 5%;
	height: 5%;
}
footer {
	background-color: rgb(97, 216, 159);
	color: rgb(0, 178, 92);
}