body, html {
  width: 100%;
  heiht: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar-brand img {
  width: 3.5rem;
}
.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important
}

/*header style*/
.header{
 background-image: url('../img/header.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.description{
top: 30%;
margin: auto;
padding: 1em;
}
.description h1{
color:#0ab2fa ;
}
.description p{
color:#666;
font-size: 20px;
width: 50%;
line-height: 1.5;
}
#info {
  background-color: #242424;
  color: #ffffff;
  font-size: 1.0em;
  padding-left: 7.5em;
  padding-right: 7.5em;
  padding-top: 1.0em;
  padding-bottom: 2.5em;
  margin:0 auto;

}
.country {
  position: relative;
  margin: 10px 5px 5px 10px;
  width:90%;
  text-align: center;


}
.services {
  position: relative;
  margin: 10px 5px 5px 10px;
  width:90%;
  text-align: center;

}
.reviews {
  position: relative;
  margin: 10px 5px 5px 10px;
  width:90%;
  text-align: center;

}
.clients {
  position: relative;
  margin: 10px 5px 5px 10px;
  width:90%;
  text-align: center;

}
#Button1 {
  text-align:center;
  padding-bottom: 100px;
}
.copyright {
  text-align: center;
  font-family: sans-serif;
}
#basicblock{
padding-bottom: 100px;
}
#carousel {

}
#copyrightblock{
padding-top: 10px;
padding-bottom: 10px;
}
.carousel .item{
	background: #333;
  text-align: center;
  height: 300px !important;
}
.carousel h2{
	color: #fff;
	margin: 0;
  padding-top: 50px;
  font-size: 48px;

}
.carousel p{
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 40px;
}

@media screen and (min-width:320px) {
.service {
  font-size: 1.3em;
}
}

@media screen and (min-width:1024px){
.carousel h2{
	color: #fff;
	margin: 0;
  padding-top: 50px;
  font-size: 16px;

}
.carousel p{
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 40px;
  padding-bottom: 100px;
}
}

@media screen and (min-width:1440px){
.carousel h2{
	color: #fff;
	margin: 0;
  padding-top: 50px;
  font-size: 48px;

}
.carousel p{
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 40px;
  padding-bottom: 175px;
}
}

@media screen and (min-width:1920px){
.carousel h2{
	color: #fff;
	margin: 0;
  padding-top: 50px;
  font-size: 48px;

}
.carousel p{
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 40px;
  padding-bottom: 350px;
}
}
.jumbotron {
  background-color: #1e7ae6 !important;
  color: #ffffff;
}
.card-deck {
  margin-top: 30px;
  background-color: ;
}
#secondaryblock {
  padding-bottom: 100px;
}
.service h1 {
  margin-top: 100px;
  margin-bottom: -100px;
  color:#0ab2fa ;
}
.uslugi {
  text-align: center;
}
a {
  color: #ffffff !important;
}
