
ol {
  counter-reset: li;
}
.sy{
  background: #f5f798;
border: 2px solid #f5f798;
 padding: 2px 3px;
}
.sg{
  background: #8bb48f;
border: 2px solid #8bb48f;
 padding: 2px 3px;
}
.sb{
  background: #7e99de;
border: 2px solid #7e99de;
 padding: 2px 3px;
}
.spisok {
  font-size: 20pt;
}
.sp{
  background: #df8dc5;
border: 2px solid  #df8dc5;
 padding: 2px 3px;
}
.sg1{
  background: #adadad;
border: 2px solid  #adadad;
 padding: 2px 3px;
}
.cc {
color:#eb5353;
}
a.embed{
  font-size: 2rem;
}
.spoiler-trigger{
    color: #0b70db;
    text-decoration: none;
    padding-left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8hiJ0TaQrwuY2kDNINwnmcKLchO5LuHWEwgkAlO5FBwhFaI8AAAAASUVORK5CYII=) no-repeat 0 50%;
}
.spoiler-trigger.active{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKklEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8DRRhcxvIGTSyjqDvCIUTAEcINQcERZkIAAAAAElFTkSuQmCC);
}
.spoiler-trigger>span{
    border-bottom: 1px dashed #0b70db;
    padding:0 3px;
}
.spoiler-trigger:hover>span{
    border-bottom-style: solid;
}
.spoiler-block{
    display: none;
}
.q{
  vertical-align:middle;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.sign{
  color:#55b4e9;
  font-weight: 700;

}

.Bord{
  color:white;
  background: #55b4e9;
border: 2px solid #55b4e9;
border-radius: 100px;
 padding: 2px 3px;
}
.Bord1{
  color:white;
  background: #ee8c62;
border: 2px solid #ee8c62;
border-radius: 100px;
 padding: 2px 3px;
}
.Bord2{
  color:white;
  background: #eb5353;
border: 2px solid #eb5353;
border-radius: 100px;
 padding: 2px 3px;
}
.Bord3{
  color:white;
  background: #56aa49;
border: 2px solid #56aa49;
border-radius: 100px;
 padding: 2px 3px;
}
.Bordss{
    color:white;
    background: #3c5db3;
  border: 2px solid #3c5db3;
  border-radius: 100px;
   padding: 2px 3px;
}
.a {
  color:#3c5db3;
  font-weight: 700;

}
.al{
  color:#3c5db3;
  font-weight: 700;
}
.b {
  color:#eb5353;
  font-weight: 700;

}
.c{
  color:#ee8c62;
  font-weight: 700;

}
  .c1{
    color:#ee8c62;
    font-weight: 700;
  }
  .d{
    color:#56aa49;
    font-weight: 700;
  }
.e{
  color:#df8dc5;
  font-weight: 700;
}
.Pupa {
    background: #3c5db3; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pupa2 {
    background: #5699fe; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pupa3 {
    background: #2982f9; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pupa4 {
    background: #3c5db3; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pupa5 {
    background: #00c9ff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pipa {
    background: #3c5db3; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pipa2 {
    background: #eb5353; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pipa3 {
    background: #3c5db3; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pipa4 {
    background: #3c5db3; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.Pipa5 {
    background: #00c9ff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}
.pills {
  margin-left: 0;
  list-style: none;
  counter-reset: li;
  font-family: calibri;
}
.pills li {
  padding: 10px 0;
  position: relative;
  left: 1.5em;
  margin-bottom: 0.75em;
  padding-left: 1em;
  background: #E3DEDC;
}
.pills li:before {
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.5em;
  width: 1.875em;
  text-align: center;
  color: white;
  font-weight: bold;
  background: #D66786;
  border-bottom-left-radius: 70em;
  border-top-left-radius: 70em;
  counter-increment: li;
  content: counter(li);
}
.push {
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.push li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: #000000;
  font-variant: small-caps;
  font-weight: bold;
  cursor: pointer;
}
.push li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4F5151;
  content: "";
  left: 0;
  transition: .3s ease-in-out;
  top: 27px;
}
.push li:after {
  position: absolute;
  border-left: 1px dotted #4F5151;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.push li:last-child:after {content: none;}
}
.square {
  margin: 0;
  counter-reset: li;
  list-style: none;
  background:#E8E8E8;
  padding: 10px;
}
.square li {
  position: relative;
  margin: 0 0 10px 2em;
  padding: 4px 8px;
  border-top: 2px solid #787A77;
  transition: .3s linear;
}
.square li:last-child {margin-bottom: 0;}
.square li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  width: 2em;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #787A77;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: #787A77;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: .3s linear;
}
.square li:hover {border-top: 2px solid #389F70;}
.square li:hover:before {
  border: 2px solid #389F70;
  background: #98EABA;
}
.bullet {
margin-left: 0;
list-style: none;
counter-reset: li;
}
.bullet li {
position: relative;
margin-bottom: 1.5em;
border: 3px solid #55b4e9;
padding: 0.6em;
border-radius: 4px;
background: #FEFEFE;
color: #231F20;
font-family: "Trebuchet MS", "Lucida Sans";
}
.bullet li:before {
position: absolute;
top: -0.7em;
padding-left: 0.4em;
padding-right: 0.4em;
font-size: 16px;
font-weight: bold;
color: #000000;
background: #FEFEFE;
border-radius: 50%;
counter-increment: li;
content: counter(li);
}
